<div class="col-xs-12"  [ngStyle]="{'background' : 'url(assets/img/bg_06.jpg)'}" class="pull-right">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ movie.Name }}({{movie.Year}})</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div
          class="btn-group"
          appDropdown>
          <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Movie <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" routerLink="/movie-list/edit/{{movie.Id}}">Edit Movie</a></li>
            <li><a style="cursor: pointer;"  routerLink="/movie-list/delete/{{movie.Id}}">Delete Movie</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <a href="{{movie.Link}}">Link To Movie</a>
      </div>
    </div>
    <br><br><br>
  </div>