<br>
<div class="row" >
        <div class="col-xs-12">
         <!-- <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>-->
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12" [ngStyle]="{'background' : 'url(assets/img/bg_06.jpg)'}">
            <table class="table table-hover"*ngFor="let al of service.list">
   
                    <tr >
                      
                    <td>{{al.Name}}</td>
                <td>{{al.Biography}}</td>
                <td>{{al.Gender}}</td>
                
                    </tr>
                </table>
        </div>
      </div>