<br>

<div [ngStyle]="{'background' : 'url(assets/img/bg_01.gif)'}">

  <div [ngStyle]="{'background' : 'url(assets/img/bg_06.jpg)'}">
  
      <h3>Main Agents:</h3>
      <h5>Alexander Pehlivanov</h5>
      <h6>Phone:+359894036230</h6>
      <h6>Email:alp@staragency.com</h6>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>