<br>

<div [ngStyle]="{'background' : 'url(assets/img/bg_01.gif)'}">

  <div [ngStyle]="{'background' : 'url(assets/img/bg_06.jpg)'}">
  <div class="text-center">
    <br>
      <h2>Main Agents:</h2>
      <h4>Eugene Semashko</h4>
      <h5>Phone:+359894036201</h5>
      <h5>Email:<br>eugene.semashko@staragency.com</h5>
      <br>
      <h4>Alexander Pehlivanov</h4>
      <h5>Phone:+359894036230</h5>
      <h5>Email:<br>alp@staragency.com</h5>
    <br>
      <h4>Oleg Matkovskyi</h4>
      <h5>Phone:+359894036087</h5>
      <h5>Email: <br>oleg.matkovskyi@staragency.com</h5>
    </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>