<br>
<div class="row" >
        <div class="col-xs-12">
            <button class="btn btn-warning"><a href="movie-list/add">New Movie</a></button>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6" [ngStyle]="{'background' : 'url(assets/img/bg_06.jpg)'}">
        
          <table class="table table-hover"*ngFor="let mv of service.list" routerLink="/movie-list/{{mv.Id}}">
             
                    <tr >
                      
                    <td>{{mv.Name}}({{mv.Year}}) <a href="{{mv.Link}}">Link To Movie </a></td>
          
                    </tr>
                </table>
        </div>
      </div>
      <br>
      <br>
      <Br>
      